body{
    background-color: rgb(230, 230, 230);
}

h1{
    color: black;
    font-size: 200%;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}

h2{
    font-size: 175%;
    font-weight: bold;
    text-decoration: underline;
}

p{
    font-size: 125%;
    text-align: justify;
}

.col-xl-3{
    text-align: center;
    border: 30px;
    padding: 10px;
}

.col-lg-4{
    text-align: center;
}

.col-lg-6{
    text-align: center;
}

.col-lg-8{
    text-align: center
}

.col-lg-10{
    text-align: center;
}

.img-fluid{
    border: 10px;
    box-shadow: 10px 10px 5px darkslategray;
}


#a1{
    box-shadow: 10px 10px 5px darkslategray;
    position: relative;
}

#a2{
    text-align: center;
    margin-left: 40px;
    margin-right: 20px;
}

#a3{
    color: rgb(2, 2, 182);
    margin: auto;
    text-align: center;
}

#a4{
    margin: 5px;
}

#a10{
    margin-bottom: 10px;
    box-shadow: 10px 10px 5px darkslategray;
}

.navbar{
    text-align: right;
    background-color: black;
    color: rgb(51, 131, 250);
    font-size: xx-large;  
}

#a0{
    text-align: left;
    color: rgb(51, 131, 250);
    font-size: large;
}

#a0:hover{
    color: rgb(189, 235, 98);
}

.btn{
    margin-right: 20px;
}

.dropdown-menu{
    background-color: black;
}

.panel{
    padding: 12px;
    border: solid;
    border-color: black;
    text-align: center;

}